<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">

    <global-property name="mule.env" value="dev" doc:name="Global Property" />

    <configuration-properties doc:name="Configuration properties" doc:id="923488e1-3bce-46b0-a070-31f717e6d80a" file="common.properties" />
    <configuration-properties doc:name="Configuration properties" doc:id="9e300f47-b072-4c40-b9cd-787856448ca0" file="mule.${mule.env}.properties" />

    <os:object-store name="watermarkStore" doc:name="Object store" persistent="false" />

    <salesforce:sfdc-config name="Salesforce_Sfdc_config" doc:id="e7545488-c9ae-45c0-b55c-d1930b73a5b3" doc:name="Salesforce Sfdc config">
        <salesforce:basic-connection password="${sfdc.password}" securityToken="${sfdc.securityToken}" username="${sfdc.username}" />
    </salesforce:sfdc-config>

    <workday:config-version-30-config name="Workday_Config" doc:name="Workday Config version 30" doc:id="2130c10d-d8ca-4539-8083-5dcb7db40d64">
        <workday:basic-authentication-api-v30-connection username="${wday.username}" password="${wday.password}"
            tenantName="${wday.tenant}" hostName="${wday.host}" responseTimeout="${wday.responseTimeout}" />
    </workday:config-version-30-config>
</mule>
